.banner {
    width: 100%;
    height: 100vh;
    padding: 1rem 1vw;
    position: relative;
}

/* BANNER BOX */
.banner_box {
    position: relative;
    display: flex;
    height: 90%;
    padding: 4vw;
    background: var(--cor-fundo-3);
    border-radius: 2em;
    box-shadow: var(--box-shadow-1);
    overflow: hidden;
    margin: 4em;
    animation: bannerBox 2s ease-out;
}

/* BANNER LINKS */
.banner_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.banner_link i {
    color: var(--cor-principal);
    font-size: 1.3em;
    transition: 0.3s;
}

.banner_link:hover i {
    color: var(--cor-principal-2);
    transform: translateY(-0.2em);
}

.banner_link:nth-of-type(1) {
    animation: slideOUT 2.5s ease-in;
}
.banner_link:nth-of-type(2) {
    animation: slideOUT 3s ease-in;
}
.banner_link:nth-of-type(3) {
    animation: slideOUT 3.5s ease-in;
}
.banner_link:nth-of-type(4) {
    animation: slideOUT 4s ease-in;   
}

/* BANNER TEXT */
.banner_text {
    position: relative;
    padding: 4em;
    width: 60vw;
}
.banner_text h2 {
    font-family: var(--fonte-1);
    font-size: 2.5vw;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0;
}
.banner_text h2:nth-of-type(1) {
    animation: typing 4s steps(40, end) forwards;
}
.banner_text h2:nth-of-type(2) {
    animation: typing 4s 1.3s steps(40, end) forwards,  write 1s step-end infinite;
    border-right: 2px solid var(--cor-fonte-1);
}
.banner_text p {
    font-family: var(--fonte-2);
    font-size: 1.5vw;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0;
}
.banner_text p:nth-of-type(1) { 
    animation: typing 4s 2.6s steps(40, end) forwards;
    margin-top: 1.5em;
}
.banner_text p:nth-of-type(2) { 
    animation: typing 4s 4.3s steps(40, end) forwards, write 1s step-end infinite;
    border-right: 2px solid var(--cor-fonte-1);
}

.banner_text span {
    color: var(--cor-principal);
    font-weight: 700;
}

/* BANNER BTN */
.banner_text_btn {
    position: absolute;
    margin-top: 8em;
    transition: 0.5s;
    animation: downUp 5.2s ease-in;
}
.banner_text_btn a {
    background: var(--cor-principal);
    padding: 1em 3em;
    border-radius: 1em;
    color: var(--cor-fundo-3);
    text-decoration: none;
}
.banner_text_btn:hover a {
    box-shadow: var(--box-shadow-2);
    background: linear-gradient(90deg, var(--cor-principal) 0%, var(--cor-principal-2) 50%, var(--cor-principal) 75%, var(--cor-principal) 100%);
    animation: btnHoverUm 6.3s linear infinite;
    transform: translateX(1rem);
}
/* BANNER SVG */
.banner_svg {
    position: absolute;
    right: -7vw;
    animation: slideIN 5s linear;
    align-self: center;
}
.banner_svg img {
    height: 50vw;
}

/* BANNER INFOS */
.banner_infos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    overflow: hidden;
    margin-top: -8rem;
    height: 15em;
}

.banner_infos_box {
    height: 11em;
    width: 20em;
    background: var(--cor-fundo-3);
    box-shadow: var(--box-shadow-1); 
    border-radius: 1em;
    overflow: hidden;
    padding: 0.5em;
    transition: 0.3s;
    display: flex;
    align-items: start;
    justify-content: center;
}

.banner_infos_ovl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.bannner_infos_icon {
    position: absolute;
    border: 1px solid var(--cor-fonte-1);
    padding: 0.5em;
    border-radius: 0.5em;
    top: 0.8em;
    background: var(--cor-fundo-3);
    box-shadow: var(--box-shadow-1);
}

.banner_infos_ovl h3 {
    margin-top: 4.7em;
    font-size: 1.5em;   
}

/* BANNER INFOS HOVER */
.banner_infos_box:hover {
    background: var(--cor-fundo-2);
    box-shadow: var(--box-shadow-2); 
    color: var(--cor-principal);
}
.banner_infos_box:hover .bannner_infos_icon {
    border: 1px solid var(--cor-principal);
    transform: rotateZ(180deg);
    box-shadow: var(--box-shadow-2);
    transition: 0.5s;
}

/* BANNER INFOS ANIMAÇÂO */
.banner_infos_box:nth-of-type(1) {
    animation: downUp 6s ease-in;
}
.banner_infos_box:nth-of-type(2) {
    animation: downUp 6.3s ease-in;
}
.banner_infos_box:nth-of-type(3) {
    animation: downUp 6.5s ease-in;
}

@media screen and (max-width:1024px) {
    .banner {
        height: 80vh;
        padding: 1rem 1vw;
    }
    
    /* BANNER BOX */
    .banner_box {
        display: flex;
        height: 90%;
        padding: 1vw;
        border-radius: 1.5em;
    }

    /* BANNER LINKS */
    .banner_links{
        justify-content: start;
        margin-top: 3em;
        gap: 4em;
    }
    .banner_link i {
        font-size: 2em;
    }
    /* BANNER TEXT */
    .banner_text {
        padding: 2em 4em;
        width: 100%;
    }
    .banner_text h2 {
        font-size: 4.3vw;
    }
    .banner_text p {
        font-size: 2.4vw;
    }
    .banner_text p:nth-of-type(1) { 
        margin-top: 4em;
    }
    /* BANNER BTN */
    .banner_text_btn {
        margin-top: 4em;
        scale: 1.2;
        align-self: center;
        margin-left: 15vw;
    }
    .banner_text_btn a {
        padding: 1em 3em;
        border-radius: 0.8em;
    }
    /* BANNER SVG */
    .banner_svg {
        right: -8vw;
        bottom: -10vw;
    }
    .banner_svg img {
        height: 63vw;
    }
    /* BANNER INFOS */
    .banner_infos {
        gap: 2vw;
    }

    .banner_infos_box {
        height: 11em;
        width: 13em;
    }
}
@media screen and (max-width:600px) {
    .banner {
        height: 80vh;
        padding: 1rem 1vw;
    }
    
    /* BANNER BOX */
    .banner_box {
        padding: 0;
        border-radius: 1em;
    }

    /* BANNER LINKS */
    .banner_link i {
        font-size: 1.8em;
    }
    /* BANNER TEXT */
    .banner_text {
        padding: 2em 1em;
    }
    /* BANNER BTN */
    .banner_text_btn {
        margin-top: 2em;
        align-self: center;
        margin-left: 11vw;
        scale: 1.2;
    }
    .banner_text_btn a {
        padding: 1em 3em;
        border-radius: 0.8em;
        font-size: 0.5em;
    }
    /* BANNER SVG */
    .banner_svg {
        right: -8vw;
        bottom: -10vw;
    }
    .banner_svg img {
        height: 70vw;
    }
    /* BANNER INFOS */
    .banner_infos_box {
        height: 7em;
        width: 7em;
    }
    .bannner_infos_icon {
        font-size: 0.8em;
        margin-top: 3.5em;
    }
    
    .banner_infos_ovl h3 {
        display: none;
    }
}