.project {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 5vw 5vw;
    overflow: hidden;
}
/* PROJETOS TITULO */
.project_title {
    position: relative;
}

.project_title h2 {
    font-size: 2.3vw;   
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0;
}
.project_title span {
    color: var(--cor-principal);
}
.project_title h2.visible {
    animation: typing2 2.5s steps(80, end) forwards, write 1s step-end infinite;
    border-right: 2px solid var(--cor-fonte-1);
}

.project_title p {
    font-size: 1vw;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0;
}
.project_title p.visible {
    display: inline-block;
    animation: typing2 2.5s 2s steps(80, end) forwards, write 1s step-end infinite;
    border-right: 2px solid var(--cor-fonte-1);
}
/* PROJETOS ABAS */
.project_tabs {
    width: 100%;
    margin: 2em auto;
    opacity: 0;
}
.project_tabs.visible {
    animation: slideLeft 3s 1s ease forwards, opacity 3s 1s ease forwards;
}

.tab-buttons {
    display: flex;
    gap: 3em;
    justify-content: center;
}

.tab-button {
    position: relative;
    padding: 0.5em 1em;
    width: 20vw;
    background-color: var(--cor-fundo-3);
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
    border-radius: 1em;
    color: var(--cor-fonte-1);
    font-family: var(--fonte-2);
    font-weight: 700;
    font-size: 1vw;
    transition: 0.5s;
    letter-spacing: 0.1em;
    opacity: 0.5;
}
.tab-button:hover {
    transform: translateY(-0.5em);
    opacity: 1;
}
.tab-button.active {
    background: var(--cor-principal);
    color: var(--cor-fundo-3);
    box-shadow: var(--box-shadow-2);
    opacity: 1;
    transition: 0.5s;
}
/* TAB CONTEUDO */
.tab-content {
    position: relative;
    display: none;
    padding: 3em 0;
}

.tab-content.active {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
}
/* ABA CONTEUDO ITEM */
.project_content {
    width: 20vw;
    height: 26vh;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    position: relative;
}

.project_img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    box-shadow: var(--box-shadow-1);
}

.project_img:hover {
    background-position: 100% 100%;
    box-shadow: var(--box-shadow-2);
    scale: 1.01;
}

.project_img:hover h3 {
    color: var(--cor-principal);
    transition: 0.5s;
}

.project_img h3 {
    color: var(--cor-fonte-1);
    font-size: 1.5vw;
    background: var(--cor-fundo-1);
    height: max-content;
    padding: 0 1em 0.2em 1em;
    border-radius: 0 0 0.7em 0.7em;
}

.project_img a {
    position: absolute;
    bottom: -1.5em;
    background: var(--cor-fonte-1);
    color: var(--cor-principal);
    padding: 0.8em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
    opacity: 0.8;
    transition: 0.5s;
}

.project_img a:hover {
    opacity: 1;
    box-shadow: var(--box-shadow-2);
    font-weight: 700;
    background: var(--cor-principal);
    color: var(--cor-fonte-1);
}

.project_img span {
    position: absolute;
    bottom: -3em;
    color: var(--cor-principal);
    letter-spacing: 0.1em;
    opacity: 0;
}

.project_img a:hover + span {
    opacity: 1;
    transition: 0.5s;
}

@media screen and (max-width:1024px) {
    .project {
        padding: 5vw 2vw;
    }
    /* PROJETOS TITULO */
    .project_title h2 {
        font-size: 4vw;   
    }
    .project_title p {
        font-size: 1.05vw;
        font-weight: 700;
        letter-spacing: 0.1em;
    }
    /* PROJETOS ABAS */
    .tab-buttons {
        gap: 2em;
    }

    .tab-button {
        width: 20vw;
        border-radius: 0.7em;
        font-size: 2vw;
    }
    /* ABA CONTEUDO ITEM */
    .project_content {
        width: 40vw;
        height: 15vh;
        background-size: cover;
        background-position: 100% 0%;
        transition: 5s;
        position: relative;
    }

    .project_img {
        width: 100%;
        height: 100%;
        border-radius: 0.7em;
    }
    .project_img h3 {
        font-size: 3vw;
    }
}

@media screen and (max-width:600px) {
    .project {
        padding: 5vw 1vw;
    }
    /* ABA CONTEUDO ITEM */
    .project_content {
        width: 45vw;
    }
    .tab-content.active {
        gap: 1em;
    }
    .project_img {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
    }
    .project_content {
        margin-bottom: 1em;
    }
    .project_img h3 {
        font-size: 4vw;
    }
}