.post_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* POST SELECT */
.post_tabs_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 80vh;
    width: 20%;
    box-shadow: var(--box-shadow-1);
    border-radius: 1em;
    border: 1px solid var(--cor-principal-2);
    backdrop-filter: blur(4px);
    transition: all .5s;
    gap: 1em;
    padding: 1em;
    opacity: 0;
}

.post_tabs_box.visible {
    animation: slideRight .8s 1s ease-in forwards, opacity .8s 1s ease-in forwards    ;
}

.post_tabs_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--cor-fundo-3), var(--cor-fundo-1));
    opacity: 0.7;
    z-index: 0;
}


.post_tabs_btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    height: 8%;
    border: 2px solid var(--cor-principal);
    color: var(--cor-principal);
    border-radius: .5em;
    font-size: .8vw;
    font-family: var(--fonte-3);
    transition: all .3s;
    gap: 0.5em;
}

.post_tabs_btn:hover {
    border: 2px solid var(--cor-principal-2);
    color: var(--cor-principal-2);
    transform: translateY(-.3em);
}

.post_tabs_btn.active {
    color: var(--cor-fundo-3);
    background: var(--gradient-1);
    background-size: 400% 100%;
    box-shadow: var(--box-shadow-2), var(--neon-inset-1);
    animation: btnHoverUm 10s linear infinite;
    transform: translateY(2px);
    font-weight: bolder;
    letter-spacing: 0.05em;
    font-size: 1vw;
}

/* POST FORM */
.post_box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 0;
    width: 0;
    overflow: hidden;
    box-shadow: var(--box-shadow-1);
    border-radius: 1em;
    border: 1px solid var(--cor-principal-2);
    backdrop-filter: blur(4px);
    transition: all .5s;
}

.post_box.visible{
    animation: openBlogFormPost 1s .3s forwards;
}

@keyframes openBlogFormPost {
    0% {width: 0; height: 0;}
    70% {width: 80%; height: 0vh;}
    100% {width: 80%; height: 80vh;}
}


.post_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, var(--cor-fundo-3), var(--cor-fundo-1));
    opacity: 0.7;
    z-index: 0;
}

.post_form_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    border-bottom: 2px solid var(--cor-principal);
    width: 95%;
    gap: .5em;
    margin: 0 2.5%;
}
.post_form_title i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    padding: 1vw;
    border: 2px solid var(--cor-principal);
    border-radius: 50%;
    font-size: 1vw;
    height: 3vw;
    width: 3vw;
}

.post_form_title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-principal);
    font-size: 2vw;
}

.post_form_forms {
    position: relative;
    padding: 1em 1em 10%;
    height: 90%;
    width: 100%;
}

.post_form_forms h3 {
    color: var(--cor-principal);
    font-size: 1.5vw;
}

.add_picture_post_btn {
    width: 12vw;
}

#imageStatus {
    position: absolute;
    left: 13vw;
    top: 50%;
    transform: translateY(-50%);
    font-family: var(--fonte-2);
    font-size: 1vw;
}

.button_post_form {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
    width: 60%;
}

.post_blog_item {
    margin-top: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post_blog_item .account_btn {
    font-size: 1vw;
    padding: 1vw;
    text-wrap: nowrap;
}

.post_blog_item .imageStatusContent {
    position: relative;
    font-family: var(--fonte-2);
    font-size: 1vw;
}

@media screen and (max-width: 1024px) {
    .post_form {
        display: flex;
    }
    /* POST SELECT */
    .post_tabs_box {
        height: 50vh;
        width: 20%;
    }
    
    .post_tabs_btn {
        width: 90%;
        height: 8%;
        font-size: 1.5vw;
    }
    .post_tabs_btn.active {
        font-size: 1.6vw;
    }
    
    /* POST FORM */   
    @keyframes openBlogFormPost {
        0% {width: 0; height: 0;}
        70% {width: 80%; height: 0vh;}
        100% {width: 80%; height: 80vh;}
    }
    
    .post_form_title {
        padding: .5em;
        border-bottom: 2px solid var(--cor-principal);
        width: 95%;
        gap: .5em;
    }
    .post_form_title i {
        padding: 3vw;
        border: 2px solid var(--cor-principal);
        font-size: 3vw;
        height: 9vw;
        width: 9vw;
    }
    
    .post_form_title h2 {
        font-size: 5vw;
    }
    
    .post_form_forms {
        padding: 1em 1em 15%;
    }
    
    .post_form_forms h3 {
        font-size: 3vw;
    }
    
    .add_picture_post_btn {
        width: 26vw;
    }
    
    #imageStatus {
        left: 27vw;
        font-size: 3vw;
    }
    
    .post_blog_item .account_btn {
        font-size: 2vw;
        padding: 1vw;
        text-wrap: wrap;
    }
    
    .post_blog_item .imageStatusContent {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .post_form {
        display: flex;
        flex-direction: column;
    }
    /* POST SELECT */
    .post_tabs_box {
        flex-direction: row;
        height: 10vh;
        width: 100%;
        gap: .2em;
        padding: 1em .3em;
    }
    
    .post_tabs_btn {
        width: 8%;
        height: 90%;
        font-size: 2vw;
    }
    .post_tabs_btn.active {
        font-size: 2.2vw;
    }

    .post_tabs_btn p {
        display: none;
    }
    
    /* POST FORM */   
    .post_box {
        margin-bottom: 3em;
    }
    @keyframes openBlogFormPost {
        0% {width: 0; height: 0;}
        70% {width: 100%; height: 0vh;}
        100% {width: 100%; height: 80vh;}
    }
    .post_form_forms h3 {
        font-size: 4vw;
    }
    
    .add_picture_post_btn {
        width: 40vw;
    }
    
    #imageStatus {
        left: 0vw;
        top: 100%;
        font-size: 4vw;
    }
    
    .post_blog_item .account_btn {
        font-size: 2.5vw;
        padding: .5vw;
        text-wrap: wrap;
    }
    
    .post_blog_item .imageStatusContent {
        font-size: 3.2vw;
    }
}