.popular_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    min-height: 60vh;
    max-height: max-content;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

.popular_content .blog-post_card:nth-of-type(1) {
    animation: openFormBlogCard 1s .3s forwards;
}
.popular_content .blog-post_card:nth-of-type(2) {
    animation: openFormBlogCard 1s 1s forwards;
}
.popular_content .blog-post_card:nth-of-type(3) {
    animation: openFormBlogCard 1s 1.7s forwards;
}
.popular_content .blog-post_card:nth-of-type(4) {
    animation: openFormBlogCard 1s 2.4s forwards;
}