{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-unlock-keyhole"></i>
    </div>

    <span class="account_line"></span>

    <div class="account_form account_margin">

    {% if user.is_authenticated %}
        <div class="account_text">
            <span>Usuário ja está logado, deseja<a href="{% url 'account_change_password' %}" class="account_link"> alterar a senha?</a></span>
        </div>
    {% endif %}
    <div class="account_text">
        <span>Nós te enviamos um email, por favor, verifique a caixa de spam e sua caixa de entrada, caso contrario, entre em <a href="{% url 'contact' %}" class="account_link">contato</a> conosco</span>
    </div>
    </div>
{% endblock content %}
