{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-unlock"></i>
    </div>

    <span class="account_line"></span>

    <div class="account_form">
        {% if messages %}
            {% for message in messages %}
                <div class="messages {{ message.tags }}">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" action="{% url 'account_change_password' %}" class="account_margin-1">
            {% csrf_token %}
            {{ redirect_field }}

            <div class="account_control ">
                <input type="password" name="oldpassword" id="oldpassword" class="account_input" required>
                <i class="fa-solid fa-key account_icon"></i>
                <label for="oldpassword" class="account_label">Senha atual</label>
                <i class="toggle-password fa fa-eye-slash" onclick="togglePassword(this)"></i>
                <span class="account_span"></span>
            </div>
            {% if form.oldpassword.errors %}
                <div class="messages">{{ form.oldpassword.errors }}</div>
            {% endif %}

            <div class="account_control">
                <input type="password" name="password1" id="password1" class="account_input" required>
                <i class="fa-solid fa-key account_icon"></i>
                <label for="password1" class="account_label">Nova senha</label>
                <i class="toggle-password fa fa-eye-slash" onclick="togglePassword(this)"></i>
                <span class="account_span"></span>
            </div>
            {% if form.password1.errors %}
                <div class="messages">{{ form.password1.errors }}</div>
            {% endif %}

            <div class="account_control">
                <input type="password" name="password2" id="password2" class="account_input" required>
                <i class="fa-solid fa-key account_icon"></i>
                <label for="password2" class="account_label">Confirmar nova senha</label>
                <i class="toggle-password fa fa-eye-slash" onclick="togglePassword(this)"></i>
                <span class="account_span"></span>
            </div>
            {% if form.password2.errors %}
                <div class="messages">{{ form.password2.errors }}</div>
            {% endif %}

            <button type="submit" name="action" class="account_btn">Alterar senha</button>
            <div class="account_row">
                <a href="{% url 'account_reset_password' %}" class="account_link-1 account_margin-1">Esqueceu a senha?</a>
                <a href="{% url 'profile_view' request.user.username %}" class="account_link-1 account_margin-1">Cancelar</a>
            </div>

        </form>
    </div>
{% endblock content %}