{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-lock-open"></i>
    </div>

    <span class="account_line"></span>

        {% if token_fail %}
        <div class="account_text">
            <span>Problema no token</span>
        </div>
        {% else %}
        <div class="account_text">
            <span>Trocar a senha</span>
        </div>
        {% endif %}
        <div class="account_form">
            {% if token_fail %}
            <div class="account_text">
                <span>O link para redefinir a senha está invalido ou se inspirou, por favor, peça uma <a href="{% url 'account_reset_password' %}" class="account_link">nova redefinição de senha</a></span>
            </div>
            {% else %}
            {% element form method="post" action=account_reset_password onsubmit="return validatePassword()" %}
            {% slot body %}
                {% csrf_token %}

                {{ redirect_field }}
                <div class="account_control">
                    <input type="password" name="password1" id="password1" class="account_input" required>
                    <i class="fa-solid fa-key account_icon"></i>
                    <label for="password1" class="account_label">Nova senha</label>
                    <i class="toggle-password fa fa-eye-slash" onclick="togglePassword(this)"></i>
                    <span class="account_span"></span>
                </div>

                <div class="messages" id="passwordLengthMessage" style="display: none;">
                    <span>As senhas precisam ter pelo menos 8 caracteres!</span>
                </div>
                <div class="messages" id="passwordLowercaseMessage" style="display: none;">
                    <span>As senhas precisam conter letras minúsculas (a - z)!</span>
                </div>
                <div class="messages" id="passwordUppercaseMessage" style="display: none;">
                    <span>As senhas precisam conter letras maiúsculas (A - Z)!</span>
                </div>
                <div class="messages" id="passwordNumberMessage" style="display: none;">
                    <span>As senhas precisam conter números (0 - 9)!</span>
                </div>
                <div class="messages" id="passwordSpecialCharMessage" style="display: none;">
                    <span>As senhas precisam conter caracteres especiais!</span>
                </div>

                <div class="account_control">
                    <input type="password" name="password2" id="password2" class="account_input" required>
                    <i class="fa-solid fa-key account_icon"></i>
                    <label for="password2" class="account_label">Confirmar nova senha</label>
                    <i class="toggle-password fa fa-eye-slash" onclick="togglePassword(this)"></i>
                    <span class="account_span"></span>
                </div>

                <div class="messages" id="passwordMismatch" style="display: none;">
                    <span>As senhas estão diferentes!</span>
                </div>
            {% endslot %}
            {% slot actions %}
            <button type="submit" name="action" class="account_btn">Alterar senha</button>
            {% endslot %}
        {% endelement %}
            
            {% endif %}
        </div>
{% endblock content %}

 



