{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% load static %}


{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-unlock"></i>
    </div>

    <span class="account_line"></span>

    <form method="post" action="{% url 'account_reset_password' %}" class="account_form account_margin-1">
        {% if user.is_authenticated %}
        <div class="account_text">
            <span>Usuário ja está logado, deseja<a href="{% url 'account_change_password' %}" class="account_link"> alterar a senha?</a></span>
        </div>
        <div class="account_text">
            <span>Caso não lembre sua senha atual,<a href="{% url 'account_logout' %}" class="account_link"> desconecte-se</a>, na pagina de login clique em 'esqueceu a senha?' !</span>
        </div>
        {% else %}
            <div class="account_text">
                <span>Esqueceu a senha? Informe seu email cadastrado abaixo que enviaremos um email!</a></span>
            </div>
            {% csrf_token %}
            <div class="account_control">
                <input type="email" name="email" id="id_email" class="account_input" required>
                <i class="fa-solid fa-envelope account_icon"></i>
                <label for="id_email" class="account_label">Email</label>
                <span class="account_span"></span>
            </div>

            <div class="messages">
                {{ form.email.errors }}
            </div>

            <button type="submit" class="account_btn">Redefinir senha</button>

            <div class="account_row account_margin-1">
                <a href="{% url 'account_login' %}" class="account_link-1">Login</a>

                <a href="{% url 'account_signup' %}" class="account_link-1">Cadastrar</a>
            </div>

            <span class="last_account_line"></span>

            <div class="account_text">
                <span>Caso precise de ajuda entre em <a href="{% url 'contact' %}" class="account_link">Contato!</a></span>
            </div>
        {% endif %}
    </form>

    
{% endblock content %}
