{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-lock-open"></i>
    </div>

    <span class="account_line"></span>
    
    <div class="account_form account_margin">
    
        <div class="account_text">
            <span>A sua senha foi alterada com sucesso!</span>
        </div>
    
        <a href="{% url 'account_login' %}" class="account_link-1">Login</a>
    </div>
{% endblock content %}
