{% extends "account/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Verify Your Email Address" %}
{% endblock head_title %}

{% block content %}
    <div class="account_title">
        <i class="fa-solid fa-envelope-circle-check"></i>
    </div>

    <span class="account_line"></span>

    {% url 'account_email' as email_url %}
    {% element p %}
        <div class="account_text">
            <span>Esta parte do site requer que nós verifiquemos que você é quem você diz ser, para isso, pedimos por favor que você verifique seu endereço de email!</span>
        </div>
    {% endelement %}
    <div class="account_text">
        <span>Por favor, verifique o email que acabamos de enviar para você. Siga as instruções clicando no link e finalize o processo de cadastro! <br> Se não encontrar o email, por favor não esqueça de verificar também a caixa de spam ou entre em <a href="{% url 'contact' %}" class="account_link">contato</a> conosco!</span>
    </div>
    <div class="account_text">
        <strong>Nota:</strong> <span>Você ainda pode <a class="account_link" href="{{ email_url }}">alterar seu endereço de email</a>.</span> 
    </div>
{% endblock content %}
