@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* NAVS */
@import url(css/header.css);
@import url(css/menu.css);
@import url(css/footer.css);
/* BANNER */
@import url(css/banner.css);
/* SOBRE */
@import url(css/about.css);
@import url(css/vinmebanner.css);
@import url(css/history.css);
@import url(css/team.css);
/* SERVIÇOS */
@import url(css/services.css);
/* PROJETOS */
@import url(css/projects.css);
/* CONTATO */
@import url(css/contact.css);
@import url(css/faq.css);
/* blog */
@import url(css/blog.css);
/* OUTROS */
@import url(css/thankspage.css);
@import url(css/keyFrames.css);
@import url(css/universe.css);
@import url(css/preLoader.css);
/* ACCOUNTS */
@import url(accounts/stylesAcc.css);
@import url(accounts/form.css);
@import url(accounts/profile.css);
@import url(accounts/settings.css);

:root {
    --cor-principal:#006aff;
    --cor-principal-tpt:#006aff36;
    --cor-principal-2:#00b7ff;
    --cor-principal-3:#0033ce;

    --cor-secundaria: #00ffec;
    --cor-terciaria: #7a0bdb;

    --cor-fonte-1: #001437; 

    --cor-fundo-tpt: #e1edff4e;
    --cor-fundo-1: #d2dae6;
    --cor-fundo-2: #dfe7f3;
    --cor-fundo-3: #eef5ff;
    --cor-fundo-3-tpt: #eef5ffee;
    --cor-fundo-4: #f7fafe;

    --cor-fixa-1: #000837;
    --cor-fixa-2: #f0f2ff;

    --cor-shadow-1: #00275d78;

    --box-shadow-1: 0px 0px 6px var(--cor-shadow-1), 0 0 6px var(--cor-shadow-1);
    --box-shadow-2: 0px 0px 6px var(--cor-principal-2), 0 0 6px var(--cor-principal-2);

    --fonte-1: "Orbitron", sans-serif;
    --fonte-2: "Share Tech", sans-serif;
    --fonte-3: "Audiowide", sans-serif;
}

[data-theme="dark"] {
    --cor-fonte-1: #eef5ff; 

    --cor-fundo-tpt: #0014374e;
    --cor-fundo-1: #001437;
    --cor-fundo-2: #001a46;
    --cor-fundo-3: #001d50;
    --cor-fundo-3-tpt: #001d50ee;
    --cor-fundo-4: #00225e;

    --cor-shadow-1: #000c1d;
}
    

*{ /*reset margem */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--cor-principal) 0%, var(--cor-principal) 60%, var(--cor-principal-2) 100%) !important;
    border-radius: 2rem;
    transition: 0.5s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--cor-principal-2) 0%, var(--cor-principal-2) 60%, var(--cor-principal) 100%) !important;
    transition: 0.5s;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


body {
    background: var(--cor-fundo-1);
    color: var(--cor-fonte-1);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--fonte-1);
    transition: 0.5s;
}

/* PAGINA */
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    padding: 5vw 10vw;
    overflow: hidden;
}

/* TITLE */
.section_title {
    position: relative;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: 0;
    font-size: 2.5vw;
    font-weight: 700;
    margin-top: 1em;
}
.section_title.visible {
    display: inline-block;
    animation: typing 2s steps(80, end) forwards, blink 1.5s step-end infinite;
    border-right: 2px solid var(--cor-fonte-1);
}

.section_title h2 {
    font-size: 2.3vw;
}
.section_title a,
.section_title span {
    color: var(--cor-principal);
    font-family: var(--fonte-3);
    font-weight: 400;
}
.section_title a:hover {
    color: var(--cor-principal-2);
}

.section_text {
    font-family: var(--fonte-2);
    font-size: 1.8vw;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    max-width: 0;
}
.section_text:nth-of-type(1).visible {
    display: inline-block;
    animation: typing 2s 1.2s steps(80, end) forwards;
}
.section_text:nth-of-type(2).visible {
    display: inline-block;
    animation: typing 2s 2.9s steps(80, end) forwards;
}

/* CONTROLES */
.flex_column {
    display: flex;
    gap: 1em;
}

@media screen and (max-width:1024px) {
    .container {
        min-height: 90vh;
        max-height: max-content;
        padding: 2vw 2vw;
    }
    .section_title {
        font-size: 4vw;
    }
    .section_text {
        font-size: 3vw; 
    }
}
@media screen and (max-width:600px) {
    .container {
        min-height: 90vh;
        max-height: max-content;
        padding: 1vw 1vw;
    }
    .section_title {
        font-size: 4.5vw;
    }
    .section_text {
        font-size: 3vw; 
    }
}