@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* IMPORT CSS */
@import url(css/header.css);

:root {
    --cor-principal:#006aff;

    --cor-fonte-1: #0a0f16; 
    --cor-fonte-2: #131c29; 

    --cor-fundo-1: #d5deeb;
    --cor-fundo-2: #dde7f4;
    --cor-fundo-3: #e6f0ff;

    --box-shadow-1: 0px 0px 8px var(--cor-fundo-3), 0 0 8px var(--cor-fundo-3);

    --fonte-1: "Orbitron", sans-serif;
    --fonte-2: "Share Tech", sans-serif;
    --fonte-3: "Audiowide", sans-serif;
}

[data-theme="dark"] {
    --cor-principal:#006aff;

    --cor-fonte-1: #e6f0ff; 
    --cor-fonte-2: #dde7f4; 

    --cor-fundo-1: #0a0f16;
    --cor-fundo-2: #131c29;
    --cor-fundo-3: #151f2e;

    --box-shadow-1: 0px 0px 4px var(--cor-fundo-3), 0 0 4px var(--cor-fundo-3);
}

*{ /*reset margem */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo-1);
    color: var(--cor-fonte-1);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-1);
}
   
.container {
    height: 100vh;
}