{% load static %}
<div class="blog-post_card viewport" data-tags="{{ post.category|lower }}">
  <div class="blog-post_card_container">
    <div
      class="blog-post_img"
      style="background-image: url('{{ post.image.url }}');"
    ></div>
    <div class="blog-post_content">
      <span>{{ post.category|title }}</span>
      <h3>{{ post.title }}</h3>
      <p>{{ post.caption|truncatewords:15 }}</p>
      <div class="blog-post_info">
        <span>{{ post.calculated_average_rating|floatformat:1 }}</span>
        <span>{{ post.comments.count }} Comentários</span>
      </div>
    </div>
    <div class="blog-post_author">
      <div class="blog-post_author_img">
        <img
          src="{% if post.author.userprofile.profile_picture %}{{ post.author.userprofile.profile_picture.url }}{% else %}{% static 'assets/img/fotografias/_unknown.png' %}{% endif %}"
          class="blog-post_author_foto"
        />
      </div>
      <div class="blog-post_author_infos">
        <a href="{% url 'profile_view' post.author.username %}">{{ post.author.username }}</a>
        <span>{{ post.created_at|date:"d / m / Y" }}</span>
      </div>
    </div>
  </div>
</div>
