/*PARALLAX BACKGROUND */
.parallax_frase {
    background: var(--cor-fundo-1);
    width: max-content;
    margin-left: 5vw;
    padding: 1em 2em;
    font-family: var(--fonte-2);
    letter-spacing: 0.1em;
    font-size: 1.3vw;
    z-index: 1;
}
.parallax_frase p {
    border-right: 2px solid var(--cor-fonte-1);
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0;
}

.parallax_frase p.visible{
    display: inline-block;
    animation: typing2 2.5s 3s steps(80, end) forwards, write 2s step-end infinite;
}

.abt_prlx {
    background: url('/assets/img/spaceship.png') no-repeat center center / cover;
    background-attachment: fixed;
    height: 80vh;
    width: 140%;
    margin: 5em 0 0 -5em;
}

.svc_prlx {
    background: url('/assets/img/spaceship.png') no-repeat center center / cover;
    background-attachment: fixed;
    height: 80vh;
    width: 140%;
    margin: 5em 0 0 -5em;
}

.pjc_prlx {
    background: url('') no-repeat center center / cover;
    background-attachment: fixed;
    height: 80vh;
    width: 140%;
    margin: 5em 0 0 -5em;
}

.mbr_prlx {
    background: url('') no-repeat center center / cover;
    background-attachment: fixed;
    height: 80vh;
    width: 140%;
    margin: 5em 0 0 -5em;
}

@media screen and (max-width:1024px) {
    /*PARALLAX BACKGROUND */
    .parallax_frase {
        font-size: 2vw;
        z-index: 1;
    }
    .abt_prlx,
    .svc_prlx,
    .pjc_prlx,
    .mbr_prlx {
        height: 60vh;
        width: 140%;
    }
} 

@media screen and (max-width:600px) {
    /*PARALLAX BACKGROUND */
    .parallax_frase {
        display: none;
    }
    .abt_prlx,
    .svc_prlx,
    .pjc_prlx,
    .mbr_prlx {
        height: 40vh;
        width: 140%;
    }
}