{% load static %}
<footer class="footer">
    <div class="footer_social">
        <ul>
            {% for link in social_links %}
                <li>
                    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                        <i class="{{ link.icon }}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer_infos">
        <!-- FOOTER INFOS -->
        <div class="footer_logo">
            <img src="{% static '/assets/SVG/VinMe LOGO.svg' %}" alt="vinme.logo">
            <h2 class="footer_title">VIN<span>ME</span></h2>
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">VINME</h2>
            <ul>
            {% for link in vinme_links %}
                <a class="footer_link" href="{% url link.url %}">
                    <i class="{{ link.icon }}"></i>
                    <strong>{{ link.name }}</strong>
                </a>
            {% endfor %}
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">MAIS VINME</h2>
            <ul>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="https://portifolio-vinicius-mello.vercel.app/">
                    <i class="fa-solid fa-face-laugh-squint"></i>
                    <strong>sobre mim</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'index' %}">
                    <i class="fa-solid fa-earth-americas"></i>
                    <strong>verse</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'index' %}">
                    <i class="fa-solid fa-school"></i>
                    <strong>class</strong>
                </a>           
            </ul>
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">INFOS</h2>
            <ul>
                {% for info in contact_info %}
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{{ info.url }}">
                    <i class="fa-solid {{ info.icon }}"></i>
                    <strong>{{ info.text }}</strong>
                </a>
                {% endfor %}       
            </ul>
        </div>
    </div>
    <div class="footer_copyright">
        <span>Copyright ©2024 - Vinme | Todos os direitos reservados</span>
    </div>
</footer>