{% load static %}
<footer class="footer viewport">
    <div class="footer_social">
        <ul>
            <a href="https://instagram.com/viinifeliciano" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/vinicius-feliciano-mello" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCPaMfm0d54sSeaX2RsCAB4A" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.behance.net/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-behance"></i>
            </a>
        </ul>
    </div>
    <div class="footer_infos">
        <!-- FOOTER INFOS -->
        <div class="footer_logo">
            <img src="{% static '/assets/SVG/VinMe LOGO.svg' %}" alt="vinme.logo">
            <h2 class="footer_title">VIN<span>ME</span></h2>
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">VINME</h2>
            <ul>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'index' %}">
                    <i class="fa-solid fa-house-chimney"></i>
                    <strong>home</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'about' %}">
                    <i class="fa-solid fa-user-astronaut"></i>
                    <strong>sobre nós</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'services' %}">
                    <i class="fa-solid fa-computer"></i>
                    <strong>serviços</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'projects' %}">
                    <i class="fa-solid fa-file-lines"></i>
                    <strong>projetos</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'contact' %}">
                    <i class="fa-solid fa-phone"></i>
                    <strong>contato</strong>
                </a>
            </ul>
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">MAIS VINME</h2>
            <ul>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="https://portifolio-vinicius-mello.vercel.app/">
                    <i class="fa-solid fa-face-laugh-squint"></i>
                    <strong>sobre mim</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'index' %}">
                    <i class="fa-solid fa-earth-americas"></i>
                    <strong>verse</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'index' %}">
                    <i class="fa-solid fa-school"></i>
                    <strong>class</strong>
                </a>           
            </ul>
        </div>
        <!-- FOOTER INFOS -->
        <div class="footer_links">
            <h2 class="footer_links_title">INFOS</h2>
            <ul>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="https://portifolio-vinicius-mello.vercel.app/">
                    <i class="fa-solid fa-face-laugh-squint"></i>
                    <strong>vinicius feliciano mello</strong>
                </a>
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="https://wa.me/message/66LU3HDFMEWVO1">
                    <i class="fa-solid fa-phone"></i>
                    <strong>(11) 9 7174-7781</strong>
                </a>           
                <!-- FOOTER ITEM -->
                <a class="footer_link" href="{% url 'contact' %}">
                    <i class="fa-solid fa-envelope"></i>
                    <strong>vinme.geral@gmail.com</strong>
                </a>           
            </ul>
        </div>
    </div>
    <div class="footer_copyright">
        <span>Copyright ©2024 - Vinme | Todos os direitos reservados</span>
    </div>
</footer>