{% load static %}
<!-- HEADER DESKTOP -->
<header class="header">
    <!-- LOGO CABEÇALHO -->
    <a class="header_logo" href="{% url 'index' %}">
        <img src="{% static '/assets/SVG/VinMe LOGO.svg' %}" alt="VM Logo" class="header_logo_svg">
        <span class="header_logo_title">Vinme</span>
    </a>
    <!-- NAVEGAÇÃO -->
    <nav class="header_options">
        <ul class="options_list">
            {% for item in navigation %}
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                {% if item.url != '#' %}
                <a href="{% url item.url %}" class="option_link">
                {% else %}
                <a href="{{ item.url }}" class="option_link">
                {% endif %}
                    <i class="{{ item.icon }} option_icon"></i>
                    <span class="option_title">{{ item.title }}</span>
                </a>
                {% if item.dropdown %}
                <!-- DROPDOWN -->
                <ul class="dropdown_list">
                    {% for dropdown in item.dropdown %}
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="{{ dropdown.url }}">{{ dropdown.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- CONTROLS -->
    <div class="header_controls">
        <div class="dark-mode-but">
            <input id="dark-mode" name="dark-mode" class="dark_chk" type="checkbox" role="switch" value="on">
            <label for="dark-mode" class="dark_label"></label>

            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-moon icon-moon"></i>
            </label>

            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-sun icon-sun"></i>
            </label>
        </div>
    </div>
</header>
<!-- HEADER MENU -->
<header class="header_menu">
    <input hidden="" class="check-icon" id="check-icon" name="check-icon" type="checkbox">
    <label class="icon-menu" for="check-icon">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </label>
    <!-- NAV MENU -->
    <nav class="menu_options">
        <ul class="options_list">
            {% for item in navigation %}
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                {% if item.url != '#' %}
                <a href="{% url item.url %}" class="option_link">
                {% else %}
                <a href="{{ item.url }}" class="option_link">
                {% endif %}
                    <i class="{{ item.icon }} option_icon"></i>
                    <span class="option_title">{{ item.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
