{% load static %}

<header class="header">
    <!-- LOGO CABEÇALHO -->
    <a class="header_logo" href="{% url 'index' %}">
        <img src="{% static '/assets/SVG/VinMe LOGO.svg' %}" alt="VM Logo" class="header_logo_svg">
        <span class="header_logo_title">Vinme</span>
    </a>
      <!-- NAVEGAÇÃO -->
    <nav class="header_options">
        <ul class="options_list">
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-house option_icon"></i>
                    <span class="option_title">HOME</span>
                </a>
                <!-- DROPDOWN -->
                 <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#banner">Banner</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#about">Sobre</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#services">Serviços</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#projects">Projetos</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#blog">Blog</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#contact">Contato</a>
                    </li>
                 </ul>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-user option_icon"></i>
                    <span class="option_title">SOBRE NÓS</span>
                </a>
                <!-- DROPDOWN -->
                 <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Sobre Nós</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Serviços</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">História</a>
                    </li>
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Membros</a>
                    </li>
                 </ul>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-computer option_icon"></i>
                    <span class="option_title">SERVIÇOS</span>
                </a>
                <!-- DROPDOWN -->
                 <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Serviços</a>
                    </li>                
                 </ul>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-file-lines option_icon"></i>
                    <span class="option_title">Projetos</span>
                </a>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-blog option_icon"></i>
                    <span class="option_title">Blog</span>
                </a>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <a href="#" class="option_link">
                    <i class="fas fa-phone option_icon"></i>
                    <span class="option_title">Contate</span>
                </a>
                 <!-- DROPDOWN -->
                <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">FAQ</a>
                    </li>                
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Testemunho</a>
                    </li>                
                    <!-- DROPDOWN ITEM -->
                    <li class="dropdown_item">
                        <a class="dropdown_link" href="#">Contato</a>
                    </li>                
                </ul>
            </li>
        </ul>
    </nav>
    <!-- CONTROLS -->
    <div class="header_controls">
        <div class="dark-mode-but">
            <input id="dark-mode" name="dark-mode" class="dark_chk" type="checkbox" role="switch" value="on">
            <label for="dark-mode" class="dark_label"></label>

            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-moon icon-moon"></i>
            </label>
        
            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-sun icon-sun"></i>
            </label>
        </div>
    </div>
</header>