{% load static %}
<!-- HEADER DESKTOP -->
<header class="header">
    <!-- LOGO CABEÇALHO -->
    <a class="header_logo" href="{% url 'index' %}">
        <img src="{% static '/assets/SVG/VinMe LOGO.svg' %}" alt="VM Logo" class="header_logo_svg">
        <span class="header_logo_title">Vinme</span>
    </a>
    <!-- NAVEGAÇÃO -->
    <nav class="header_options">
        <ul class="options_list">
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <i class="fa-solid fa-user-astronaut option_icon"></i>
                <span class="option_title">VinMe <i class="fa-solid fa-caret-down"></i> </span>
                <!-- DROPDOWN LIST -->
                <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    {% for link in vinme_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <i class="fa-solid fa-earth-americas option_icon"></i>
                <span class="option_title">Verse <i class="fa-solid fa-caret-down"></i> </span>
                <!-- DROPDOWN LIST -->
                <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    {% for link in blog_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
            <!-- ITEM DA LISTA -->
            <li class="options_item">
                <i class="fa-solid fa-school option_icon"></i>
                <span class="option_title">Class <i class="fa-solid fa-caret-down"></i> </span>
                <!-- DROPDOWN LIST -->
                <ul class="dropdown_list">
                    <!-- DROPDOWN ITEM -->
                    {% for link in class_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    <!-- CONTROLS -->
    <div class="header_controls">
        <div class="dark-mode-but">
            <input id="dark-mode" name="dark-mode" class="dark_chk" type="checkbox" style="visibility: hidden;">
            <label for="dark-mode" class="dark_label"></label>

            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-moon icon-moon"></i>
            </label>

            <label for="dark-mode" class="dark-mode_icon">
                <i class="fa-solid fa-sun icon-sun"></i>
            </label>
        </div>
        <div class="controls_config">
            <input style="visibility: hidden;" type="checkbox" class="check_config" id="check_config" name="check_config">
            <label for="check_config" class="config_label">
                {% if user.is_authenticated %}
                <i class="fa-solid fa-gear controls_icon"></i>
                {% else %}
                <i class="fa-solid fa-circle-user controls_icon"></i>
                {% endif %}
            </label>
            <!-- LISTA -->
            <ul class="controls_menu">
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <strong>logout</strong>
                </a>
                {% else %}
                <!-- ITEM -->
                <a href="{% url 'account_login' %}">
                    <i class="fa-solid fa-user"></i>
                    <strong>login</strong>
                </a>
                <!-- ITEM -->
                <a href="{% url 'account_signup' %}">   
                    <i class="fa-solid fa-user-plus"></i>
                    <strong>cadastre-se</strong>
                </a>
                {% endif %}
            </ul>
        </div>
    </div>
</header>


<!-- HEADER MENU -->
<header class="header_menu">
    <input style="visibility: hidden;" class="check-icon" id="check-icon" name="check-icon" type="checkbox">
    <label class="icon-menu" for="check-icon">
        <div class="bar bar-1"></div>
        <div class="bar bar-2"></div>
        <div class="bar bar-3"></div>
    </label>
    <!-- NAV MENU -->
    <nav class="menu_options">
        <ul class="dropdown_options_list">
            <!-- ITEM -->
            <li>
                <div class="controls_config">
                    <input style="visibility: hidden;" type="checkbox" class="check_config" id="check_config_drop" name="check_config_drop">
                    <label for="check_config_drop" class="config_label">
                        {% if user.is_authenticated %}
                        <i class="fa-solid fa-gear controls_icon"></i>
                        {% else %}
                        <i class="fa-solid fa-circle-user controls_icon"></i>
                        {% endif %}
                    </label>
                    <!-- LISTA -->
                    <ul class="controls_menu">
                        {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}">
                            <i class="fa-solid fa-user-slash"></i>
                            <strong>logout</strong>
                        </a>
                        {% else %}
                        <!-- ITEM -->
                        <a href="{% url 'account_login' %}">
                            <i class="fa-solid fa-user"></i>
                            <strong>login</strong>
                        </a>
                        <!-- ITEM -->
                        <a href="{% url 'account_signup' %}">
                            <i class="fa-solid fa-user-plus"></i>
                            <strong>cadastre-se</strong>
                        </a>
                        {% endif %}
                    </ul>
                </div>
            </li>
            <!-- ITEM -->
            <li class="dropdown_opt_li">
                <div class="menu_dropdown_close">
                    <i class="fa-solid fa-shuttle-space option_icon"></i>
                    <span class="option_title">VinMe</span>
                    <i class="fa-solid fa-caret-down seta_dropdown_menu"></i>
                </div>
                <!-- DROPDOWN -->
                <ul class="menu_dropdown_lista">
                    <!-- DROPDOWN ITEM -->
                    {% for link in vinme_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
            <!-- ITEM -->
            <li>
                <div class="menu_dropdown_close">
                    <i class="fa-solid fa-earth-americas option_icon"></i>
                    <span class="option_title">Verse</span>
                    <i class="fa-solid fa-caret-down seta_dropdown_menu"></i>
                </div>
                <!-- DROPDOWN -->
                <ul class="menu_dropdown_lista">
                    <!-- DROPDOWN ITEM -->
                    {% for link in blog_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
            <!-- ITEM -->
            <li>
                <div class="menu_dropdown_close">
                    <i class="fa-solid fa-school option_icon"></i>
                    <span class="option_title">Class</span>
                    <i class="fa-solid fa-caret-down seta_dropdown_menu"></i>
                </div>
                <!-- DROPDOWN -->
                <ul class="menu_dropdown_lista">
                    <!-- DROPDOWN ITEM -->
                    {% for link in class_links %}
                    <a class="dropdown_link" href="{% url link.url %}">
                        <i class="{{ link.icon }}"></i>
                        <strong>{{ link.name }}</strong>
                    </a>             
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</header>
