{% load static %}
<section class="container history" id="history">
     <!-- HISTORY TITLE -->
     <div class="">
        <h2 class="section_title history_title viewport">Descubra um pouco da nossa <span>história</span></h2>
    </div>
    <!-- HISTORY DIV -->
     <div class="history_time viewport">
        <div class="history_start">
            <h3>Início</h3>
            <div class="history_start_info">
                <h4 class="history_start_info_title">2024</h4>
                <p class="history_start_info_text">Iniciamos nossa jornada</p>
            </div>
        </div>
        <div class="history_content">
            <div class="history_split">
                {% for event in events %}
                    {% if event.side == 'left' %}
                        <div class="history_split_item history_split_item_left">
                            <h4 class="history_split_item_title">{{ event.date }}</h4>
                            <p class="history_split_item_text">{{ event.text }}</p>
                            <i class="fa-solid {{ event.icon }}"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        
            <div class="history_split">
                {% for event in events %}
                    {% if event.side == 'right' %}
                        <div class="history_split_item history_split_item_right">
                            <h4 class="history_split_item_title">{{ event.date }}</h4>
                            <p class="history_split_item_text">{{ event.text }}</p>
                            <i class="fa-solid {{ event.icon }}"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
     </div>
</section>