{% load static %}
<section class="container history" id="history">
     <!-- HISTORY TITLE -->
     <div class="">
        <h2 class="section_title history_title viewport">Descubra um pouco da nossa <span>história</span></h2>
    </div>
    <!-- HISTORY DIV -->
     <div class="history_time viewport">
        <div class="history_start">
            <h3>Início</h3>
            <div class="history_start_info">
                <h4 class="history_start_info_title">2024</h4>
                <p class="history_start_info_text">Iniciamos nossa jornada</p>
            </div>
        </div>
        <div class="history_content">
            <div class="history_split">
                <div class="history_split_item history_split_item_left">
                    <h4 class="history_split_item_title">29 / 05 / 2024</h4>
                    <p class="history_split_item_text">Criação e planejamento</p>
                    <i class="fa-solid fa-scroll"></i>
                </div>
                <div class="history_split_item history_split_item_left">
                    <h4 class="history_split_item_title">12 / 06 / 2024</h4>
                    <p class="history_split_item_text">Design e identidade visual</p>
                    <i class="fa-solid fa-pen-nib"></i>
                </div>
                <div class="history_split_item history_split_item_left">
                    <h4 class="history_split_item_title">07 / 08 / 2024</h4>
                    <p class="history_split_item_text">Lançamento do site</p>
                    <i class="fa-solid fa-rocket"></i>
                </div>
            </div>

            <div class="history_split">
                <div class="history_split_item history_split_item_right">
                    <h4 class="history_split_item_title">04 / 06 / 2024</h4>
                    <p class="history_split_item_text">Pesquisa de concorrentes e revisão</p>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="history_split_item history_split_item_right">
                    <h4 class="history_split_item_title">18 / 06 / 2024</h4>
                    <p class="history_split_item_text">Desenvolvimento web com Front-end e Back-end</p>
                    <i class="fa-solid fa-laptop-code"></i>
                </div>
                <div class="history_split_item history_split_item_right">
                    <h4 class="history_split_item_title">11 / 08 / 2024</h4>
                    <p class="history_split_item_text">Primeiro trabalho realizado</p>
                    <i class="fa-solid fa-laptop-file"></i>
                </div>
            </div>
        </div>
     </div>
</section>