{% load static %}
<section class="services" id="services">
    <!-- SERVIÇOS TITULO -->
    <div class="services_bg">
        <span class="services_background viewport"></span>
        <span class="services_background viewport"></span>
    </div>
    <div class="services_title">
        <h2 class="section_title viewport">Quais os <a href="{% url 'services' %}">Serviços</a> que fornecemos?</h2>
    </div>
    <!-- SERVICOS CONTEUDO -->
    <div class="services_content">
    {% for service in services %}
    <!-- SERVICOS BOX -->
    <div class="services_box viewport">
        <i class="{{ service.icon }} services_box_icon"></i>
        <h3>{{ service.title }}</h3>
        <span class="vermais">Ver mais <i class="fa-solid fa-circle-right"></i></span>
    </div>
    <!-- MODAL -->
    <div class="modal">
        <div class="modal_card">
            <span class="modal_close">&times;</span>
            <h3>{{ service.title }}</h3>
            <p>{{ service.description }}</p>
            <i class="{{ service.icon }}"></i>
        </div>
    </div>
    {% endfor %}
    </div> <!-- DIV SERVICES CONTENT-->
</section>