{% load static %}
<div class="universe">
    <img class="stars" src="{% static '/assets/SVG/vinmeStars.svg' %}">
    <img class="moon" src="{% static '/assets/SVG/PLANETAS/moon.svg' %}">
    <img class="planetblue" src="{% static '/assets/SVG/PLANETAS/planetBlue.svg' %}">
    <img class="planetred" src="{% static '/assets/SVG/PLANETAS/planetRed.svg' %}">
    <img class="milkway" src="{% static '/assets/SVG/PLANETAS/milkway.svg' %}">
    <img class="galaxy" src="{% static '/assets/SVG/PLANETAS/galaxy.svg' %}">


    <div class="clouds-1">
        <img class="clouds-3-svg" src="{% static '/assets/SVG/PLANETAS/clouds3.svg' %}">
        <img class="clouds-3-svg" src="{% static '/assets/SVG/PLANETAS/clouds3.svg' %}">
        <img class="clouds-3-svg" src="{% static '/assets/SVG/PLANETAS/clouds3.svg' %}">
    </div>
    <div class="clouds-1">
        <img class="clouds-2-svg" src="{% static '/assets/SVG/PLANETAS/clouds2.svg' %}">
        <img class="clouds-2-svg" src="{% static '/assets/SVG/PLANETAS/clouds2.svg' %}">
    </div>
    <div class="clouds-1">
        <img class="clouds-1-svg" src="{% static '/assets/SVG/PLANETAS/clouds1.svg' %}">
        <img class="clouds-1-svg" src="{% static '/assets/SVG/PLANETAS/clouds1.svg' %}">
    </div>
    


    <div class="clouds-2">
        <img class="clouds-6-svg" src="{% static '/assets/SVG/PLANETAS/clouds3.svg' %}">
        <img class="clouds-6-svg" src="{% static '/assets/SVG/PLANETAS/clouds3.svg' %}">
    </div>
    <div class="clouds-2">
        <img class="clouds-5-svg" src="{% static '/assets/SVG/PLANETAS/clouds2.svg' %}">
        <img class="clouds-5-svg" src="{% static '/assets/SVG/PLANETAS/clouds2.svg' %}">
        <img class="clouds-5-svg" src="{% static '/assets/SVG/PLANETAS/clouds2.svg' %}">
    </div>
    <div class="clouds-2">
        <img class="clouds-4-svg" src="{% static '/assets/SVG/PLANETAS/clouds1.svg' %}">
        <img class="clouds-4-svg" src="{% static '/assets/SVG/PLANETAS/clouds1.svg' %}">
    </div>
    
    
    <div class="line-1">
        <img class="line-1-svg" src="{% static '/assets/SVG/PLANETAS/line1.svg' %}">
        <img class="line-1-svg" src="{% static '/assets/SVG/PLANETAS/line1.svg' %}">
    </div>

    <div class="line-2">
        <img class="line-2-svg" src="{% static '/assets/SVG/PLANETAS/line2.svg' %}">
        <img class="line-2-svg" src="{% static '/assets/SVG/PLANETAS/line2.svg' %}">
    </div>

    <div class="verse_background">
        <img src="{% static '/assets/SVG/PLANETAS/versebg.svg' %}">
        <img src="{% static '/assets/SVG/PLANETAS/versebg.svg' %}">
        <img src="{% static '/assets/SVG/PLANETAS/versebg.svg' %}">
    </div>

</div>