{% extends 'blog/blogBase.html' %} 
{% load static %}

{% block content %}
<section class="container post_page">
    <nav class="post_page_nav_box viewport">
        <a href="#{{ post.title }}" class="travel_link">{{ post.title }}</a>
        {% for section in post.sections.all %}
        <a href="#section{{ forloop.counter }}" class="travel_link">{{ section.title }}</a>
        {% endfor %}
    </nav>

    <div class="post_page_box viewport" id="{{ post.title }}">
        <!-- PAGE POST -->
        <div class="post_page_post">
            <!-- PAGE POST IMAGE -->
            <div class="post_page_post_img" style="background-image: url('{{ post.image.url }}');">
                <span>{{ post.get_category_display }}</span>
            </div>
            <!-- PAGE POST INFORMATIONS -->
            <div class="post_page_post_infos">    
                <div class="blog-post_author_img">
                    <img src="{% if post.author.userprofile.profile_picture %}{{ post.author.userprofile.profile_picture.url }}{% else %}{% static 'assets/img/fotografias/_unknown.png' %}{% endif %}" class="blog-post_author_foto"/>
                </div>
                <a href="{% url 'profile_view' post.author.username %}">{{ post.author.username }}</a>
                <span>{{ post.created_at|date:"d / m / Y" }}</span>
            </div>
            <!-- PAGE POST TITLE -->
             <div class="post_page_post_title">
                <h2>{{ post.title }}</h2>
                <p>{{ post.caption }}</p>
             </div>
        </div>
        <!-- PAGE SECTION -->
        {% for section in post.sections.all %}
        <div class="post_page_sections">
                <div class="post_page_section" id="section{{ forloop.counter }}">
                    <!-- SECTION TITLE -->
                    <h3 id="section{{ forloop.counter }}">{{ section.title }}</h3>  
                    <p>{{ section.text_block }}</p>
                    
                    <!-- SECTION IMAGES/VIDEOS -->
                    <div class="post_section_images">
                        <div class="carousel">
                            {% if section.images_or_videos1 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos1.url }}" alt="Image 1">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos2 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos2.url }}" alt="Image 2">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos3 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos3.url }}" alt="Image 3">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos4 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos4.url }}" alt="Image 4">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos5 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos5.url }}" alt="Image 5">
                                </div>
                            {% endif %}
                        </div>
                        <button class="carousel_prev"><i class="fa-solid fa-caret-left"></i></button>
                        <button class="carousel_next"><i class="fa-solid fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- COMMENT SECTION -->
     <div class="post_page_comment_box viewport">
        <!-- TITLE -->
        <div class="post_page_comment_title">
            <h3>{{ post.comments.count }} Avaliações</h3>
        </div>
        <!-- COMMENT FORM -->
        {% if user.is_authenticated %}
        <form class="form_comment" method="post">
            {% csrf_token %}
            <div class="post_page_comment_rating">
                <!-- RATING -->
                {% for radio in form.rating %}
                <div class="rating_star">
                    {{ radio.tag }}
                    <label for="{{ radio.id_for_label }}" class="star_label">
                        <i class="fa fa-star"></i>
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="account_control">
                {{ form.content }}
                <i class="fa-solid fa-comment account_icon"></i>
                <label class="account_label" for="">Titulo</label>
                <span class="account_span"></span>
            </div>

            <button class="account_btn comment_form_btn" type="submit">Avaliar</button>
         </form>
         {% endif %}
         <!-- COMMENT CONTENT -->
         {% for comment in comments %}
         <div class="post_page_comment_item">
             <div class="post_page_comment_author">
                 <div class="comment_post_author_img">
                     <img src="{% if comment.author.userprofile.profile_picture %}{{ comment.author.userprofile.profile_picture.url }}{% else %}{% static 'assets/img/fotografias/_unknown.png' %}{% endif %}" class="comment_post_author_foto"/>
                 </div>
                 <div class="comment_post_author_infos">
                     <a href="{% url 'profile_view' comment.author.username %}">{{ comment.author.username }}</a>
                     <span>{{ comment.created_at|date:"d / m / Y" }}</span>
                     <span>Avaliação: {{ comment.rating }}</span>
                 </div>     
                {% if user == comment.author %}
                <div class="comment_post_author_controls">
                    <!-- DELETE BTN -->
                    <i class="fa-solid fa-trash" data-post-id="{{ post.id }}" data-modal-id="deleteModal-{{ post.id }}"></i>
                    <!-- DELETE MODAL -->
                    <div class="modal_confirm" id="deleteModal-{{ post.id }}">
                        <p>Tem certeza que deseja excluir a avaliação?</p>
                        <div class="account_row">
                          <button type="button" class="account_btn-1 btn_confirmDel" data-close-id="deleteModal-{{ post.id }}">Não</button>
                          <form id="deletePostForm-{{ post.id }}" method="POST" action="{% url 'delete_comment' comment.id %}">
                            {% csrf_token %}
                            <button type="submit" class="account_btn btn_confirmDel">Sim</button>
                          </form>           
                        </div>
                    </div>
                </div>
                {% endif %}
             </div>
             <p>{{ comment.content }}</p>
         </div>
         {% endfor %}
         
     </div>


</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const carousel = document.querySelector('.carousel');
    const items = document.querySelectorAll('.carousel_item');
    const prevButton = document.querySelector('.carousel_prev');
    const nextButton = document.querySelector('.carousel_next');
    let currentIndex = 0;
    const totalItems = items.length;

    function updateCarousel() {
        carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    function showNext() {
        currentIndex = (currentIndex + 1) % totalItems;
        updateCarousel();
    }

    function showPrev() {
        currentIndex = (currentIndex - 1 + totalItems) % totalItems;
        updateCarousel();
    }

    nextButton.addEventListener('click', showNext);
    prevButton.addEventListener('click', showPrev);
});
</script>

<script>
    document.querySelectorAll('input[type="radio"]').forEach(radio => {
        radio.addEventListener('change', function() {
            // Remove a cor de todas as estrelas
            document.querySelectorAll('.star_label i').forEach(star => {
                star.style.color = 'var(--cor-fonte-1)';
            });
    
            // Encontre o índice do input de rádio selecionado
            const index = Array.from(document.querySelectorAll('input[type="radio"]')).indexOf(this);
    
            // Altere a cor das estrelas até o índice
            document.querySelectorAll('.rating_star').forEach((star, i) => {
                if (i <= index) {
                    star.querySelector('.star_label i').style.color = 'var(--cor-principal)';
                }
            });
        });
    });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    // Função para abrir o modal
    function openModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            modal.classList.add('open');
        }
    }

    // Função para fechar o modal
    function closeModal(modal) {
        modal.classList.remove('open');
    }

    // Adiciona eventos aos ícones de exclusão
    const deleteIcons = document.querySelectorAll('.fa-trash');
    deleteIcons.forEach(icon => {
        icon.addEventListener('click', function() {
            const modalId = this.getAttribute('data-modal-id');
            openModal(modalId);
        });
    });

    // Adiciona eventos aos botões de fechar dentro dos modais
    const closeButtons = document.querySelectorAll('[data-close-id]');
    closeButtons.forEach(button => {
        button.addEventListener('click', function() {
            const modalId = this.getAttribute('data-close-id');
            const modal = document.getElementById(modalId);
            if (modal) {
                closeModal(modal);
            }
        });
    });

    // Adiciona eventos aos formulários para fechar o modal após a submissão
    const forms = document.querySelectorAll('form');
    forms.forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Previne o comportamento padrão de submissão
            const formId = this.id;
            const modalId = formId.replace('deletePostForm-', 'deleteModal-'); // Ajusta o ID do modal com base no ID do formulário
            const modal = document.getElementById(modalId);
            if (modal) {
                closeModal(modal);
            }
            this.submit(); // Envia o formulário após fechar o modal
        });
    });
});
    </script>
{% endblock %}