{% extends 'blog/blogBase.html' %} 
{% load static %}

{% block content %}
<section class="container post_page">
    <nav class="post_page_nav_box viewport">
        <a href="#{{ post.title }}" class="travel_link">{{ post.title }}</a>
        {% for section in post.sections.all %}
        <a href="#section{{ forloop.counter }}" class="travel_link">{{ section.title }}</a>
        {% endfor %}
    </nav>

    <div class="post_page_box viewport" id="{{ post.title }}">
        <!-- PAGE POST -->
        <div class="post_page_post">
            <!-- PAGE POST IMAGE -->
            <div class="post_page_post_img" style="background-image: url('{{ post.image.url }}');">
                <span>{{ post.get_category_display }}</span>
            </div>
            <!-- PAGE POST INFORMATIONS -->
            <div class="post_page_post_infos">    
                <div class="blog-post_author_img">
                    <img src="{% if post.author.userprofile.profile_picture %}{{ post.author.userprofile.profile_picture.url }}{% else %}{% static 'assets/img/fotografias/_unknown.png' %}{% endif %}" class="blog-post_author_foto"/>
                </div>
                <a href="{% url 'profile_view' post.author.username %}">{{ post.author.username }}</a>
                <span>{{ post.created_at|date:"d / m / Y" }}</span>
            </div>
            <!-- PAGE POST TITLE -->
             <div class="post_page_post_title">
                <h2>{{ post.title }}</h2>
                <p>{{ post.caption }}</p>
             </div>
        </div>
        <!-- PAGE SECTION -->
        {% for section in post.sections.all %}
        <div class="post_page_sections">
                <div class="post_page_section" id="section{{ forloop.counter }}">
                    <!-- SECTION TITLE -->
                    <h3 id="section{{ forloop.counter }}">{{ section.title }}</h3>  
                    <p>{{ section.text_block }}</p>
                    
                    <!-- SECTION IMAGES/VIDEOS -->
                    <div class="post_section_images">
                        <div class="carousel">
                            {% if section.images_or_videos1 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos1.url }}" alt="Image 1">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos2 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos2.url }}" alt="Image 2">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos3 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos3.url }}" alt="Image 3">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos4 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos4.url }}" alt="Image 4">
                                </div>
                            {% endif %}
                            {% if section.images_or_videos5 %}
                                <div class="carousel_item">
                                    <img src="{{ section.images_or_videos5.url }}" alt="Image 5">
                                </div>
                            {% endif %}
                        </div>
                        <button class="carousel_prev"><i class="fa-solid fa-caret-left"></i></button>
                        <button class="carousel_next"><i class="fa-solid fa-caret-right"></i></button>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const carousel = document.querySelector('.carousel');
    const items = document.querySelectorAll('.carousel_item');
    const prevButton = document.querySelector('.carousel_prev');
    const nextButton = document.querySelector('.carousel_next');
    let currentIndex = 0;
    const totalItems = items.length;
    const intervalTime = 5000;

    function updateCarousel() {
        carousel.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    function showNext() {
        currentIndex = (currentIndex + 1) % totalItems;
        updateCarousel();
    }

    function showPrev() {
        currentIndex = (currentIndex - 1 + totalItems) % totalItems;
        updateCarousel();
    }

    nextButton.addEventListener('click', showNext);
    prevButton.addEventListener('click', showPrev);

    // Auto-play
    setInterval(showNext, intervalTime);
});

</script>
{% endblock %}