{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinme</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static '/favicon/favicon.ico' %}" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <!-- CDN FONTE AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    {% include 'vinme/partials/_header.html' %}
    {% block content %}{% endblock %}
    {% include 'vinme/partials/_footer.html' %}
    
    <!-- JAVASCRIPT -->
    <script src="{% static '/javascript/scrollSection.js' %}" defer></script>
    <script src="{% static '/javascript/darkmode.js' %}" defer></script>
    <script src="{% static '/javascript/animationView.js' %}" defer></script>
    <script src="{% static '/javascript/modal.js' %}" defer></script>
    <script src="{% static '/javascript/tabs.js' %}" defer></script>
    <script src="{% static '/javascript/slider.js' %}" defer></script>
</body>
</html>