{% extends 'vinme/component.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
    <section class="banner" id="banner">
        <!-- BOX -->
        <div class="banner_box viewport">
            <!-- LINKS -->
            <div class="banner_links">
                {% for link in social_links %}
                <!-- LINK ITEM -->
                <a href="{{ link.url }}" class="banner_link viewport" target="_blank" rel="noopener noreferrer">
                    <i class="{{ link.icon }} banner_link_logo"></i>
                </a>
                {% endfor %}
            </div>
            <!-- TEXT -->
            <div class="banner_text">
                <h2 class="viewport">Transformamos grandes histórias</h2>
                <h2 class="viewport">em <span class="typing">artes e experiencias</span> unicas.</h2>

                <p class="viewport">Seu sucesso é nossa melhor <span class="typing">arte</span>, cada projeto que assumimos é uma tela em branco,</p>
                <p class="viewport">onde cada pixel conta para <span class="typing">desenvolver</span> uma obra-prima única.</p>

                <div class="banner_text_btn viewport">
                    <a href="{% url 'contact' %}">Eleve seu negócio ao próximo nível</a>
                </div>             
            </div>
            <!-- ROBOT -->
            <div class="banner_svg viewport">
                <img src="{% static 'assets/SVG/Vinme 1.svg' %}" alt="Vinme">
            </div>
        </div>
        <!-- INFOS -->
        <div class="banner_infos">
            {% for info in info_boxes %}
            <!-- INFO BOX -->
            <div class="banner_infos_box viewport">
                <div class="banner_infos_img">
                    <div class="banner_infos_ovl">
                        <img src="{% static info.img_src %}" alt="{{ info.alt_text }}">
                        <div class="bannner_infos_icon">
                            <i class="{{ info.icon }}"></i>
                        </div>
                        <h3>{{ info.title }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
<!-- sobre -->
    {% include 'vinme/partials/_about.html' %}
<!-- serviços -->
    {% include 'vinme/partials/_services.html' %}
<!-- projetos -->
    <section class="container projects" id="projects">
        <!-- BACKGROUND -->
         <div class="projects_bg viewport">
            <span class="project_background"></span>
         </div>
        <!-- TITULO -->
        <div class="">
            <h2 class="section_title viewport">Nossos <a href="{% url 'projects' %}">Projetos</a> ja realizados!</h2> <br>
            <p class="section_text viewport">Embora sejamos uma startup, estamos trabalhando incansavelmente, dia e noite,</p> <br>
            <p class="section_text viewport">para transformar nossos projetos e sonhos em realidade.</p>
        </div>
        <!-- PROJETO TABS -->
        <div class="project_tabs">
            <div class="tab-buttons">
                <button class="tab-button viewport active" data-tab="tab1">Desenvolvimento Web</button>
                <button class="tab-button viewport" data-tab="tab2">Design Gráfico</button>
                <button class="tab-button viewport" data-tab="tab3"> Desenvolvimento Back-end</button>
            </div>
             <!-- ABAS CONTEUDO 1-->
             {% for project in projects %}
             <div class="tab-content {% if forloop.first %}active{% endif %}" id="{{ project.id }}">
                 <!-- PROJETO -->
                 <div class="project_content viewport">
                     <div class="project_img" style="background-image: url('{% static project.image %}');"></div>
                     <span class="vermais">{{ project.seemore }} <i class="fa-solid fa-circle-right"></i></span>
                 </div>
             </div>
             {% endfor %}
        </div>
    </section>
<!-- contato -->
    {% include 'vinme/partials/_contactForm.html' %}
{% endblock %}