{% extends 'vinme/component.html' %}
{% load static %}

{% block content %}
<!-- Banner -->
    <section class="banner" id="banner">
        <!-- BOX -->
        <div class="banner_box viewport">
            <!-- LINKS -->
            <div class="banner_links">
                <!-- LINK ITEM -->
                <a href="#" class="banner_link viewport">
                    <i class="fa-brands fa-instagram banner_link_logo"></i>
                </a>
                <!-- LINK ITEM -->
                <a href="#" class="banner_link viewport">
                    <i class="fa-brands fa-linkedin-in banner_link_logo"></i>
                </a>
                <!-- LINK ITEM -->
                <a href="#" class="banner_link viewport">
                    <i class="fa-brands fa-youtube banner_link_logo"></i>
                </a>
                <!-- LINK ITEM -->
                <a href="#" class="banner_link viewport">
                    <i class="fa-brands fa-behance banner_link_logo"></i>
                </a>
            </div>
            <!-- TEXT -->
            <div class="banner_text">
                <h2>Transformamos grandes histórias</h2>
                <h2>em <span class="typing">artes e experiencias</span> unicas.</h2>

                <p>Seu sucesso é nossa melhor <span class="typing">arte</span>, cada projeto que assumimos é uma tela em branco,</p>
                <p>onde cada pixel conta para <span class="typing">desenvolver</span> uma obra-prima única.</p>

                <div class="banner_text_btn viewport">
                    <a href="#">Eleve seu negócio ao próximo nível</a>
                </div>             
            </div>
            <!-- ROBOT -->
            <div class="banner_svg viewport">
                <img src="{% static 'assets/SVG/Vinme 1.svg' %}" alt="Vinme">
            </div>
        </div>
        <!-- INFOS -->
        <div class="banner_infos">
            <!-- INFO BOX -->
            <div class="banner_infos_box viewport">
                <div class="banner_infos_img">
                    <div class="banner_infos_ovl">
                        <img src="{% static 'assets/SVG/VINMEFRONT.svg' %}" alt="DESIGN">
                        <div class="bannner_infos_icon">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <h3>Front-End</h3>
                    </div>
                </div>
            </div>
            <!-- INFO BOX -->
            <div class="banner_infos_box viewport">
                <div class="banner_infos_img">
                    <div class="banner_infos_ovl">
                        <img src="{% static 'assets/SVG/VINMEDESIGN.svg' %}" alt="DESIGN">
                        <div class="bannner_infos_icon">
                            <i class="fa-solid fa-pen-nib"></i>
                        </div>
                        <h3>Design</h3>
                    </div>
                </div>
            </div>
            <!-- INFO BOX -->
            <div class="banner_infos_box viewport">
                <div class="banner_infos_img">
                    <div class="banner_infos_ovl">
                        <img src="{% static 'assets/SVG/VINMEBACK.svg' %}" alt="BACK END">
                        <div class="bannner_infos_icon">
                            <i class="fa-solid fa-keyboard"></i>
                        </div>
                        <h3>Back-End</h3>
                    </div>
                </div>
            </div>             
        </div>
    </section>
<!-- sobre -->
    <section class="container about" id="about">
        <!-- SOBRE TITULI -->
        <div class="about_title viewport">
            <h2 class="viewport">VINME</h2>
            <h3 class="viewport">desenvolvimento + web + design</h3>
        </div>
        <div class="about_content">
            <!-- SOBRE TEXTO -->
            <div class="about_text">
                <p class="viewport">Formada em 2024, a <span>Vinme</span> é uma startup fundada por um único integrante, comprometida em transformar histórias em projetos únicos. Com a missão de ajudar empresas a se destacar, entregamos <span>websites e designs exclusivos</span> para proporcionar ao usuário uma experiência incrível e inesquecível.</p>
                <p class="viewport">Ao escolher a <span>Vinme</span>, você opta por um parceiro que valoriza uma abordagem amigável e colaborativa, focado em construir relacionamentos de longo prazo, com qualidade e inovação. Estamos sempre nos atualizando para oferecer o melhor, comprometendo-nos a atender não apenas às necessidades imediatas, mas também a contribuir para o crescimento de seus negócios. Pensamos em cada detalhe para garantir a máxima satisfação.</p>
            </div>
            <!-- SOBRE INFOS -->
            <div class="about_infos">
                <!-- INFOS BOX -->
                <div class="about_infos_box viewport">
                    <i class="fa-solid fa-lightbulb"></i>
                    <span></span>
                    <p>Nossa <span>missão</span> é transformar histórias em projetos exclusivos</p>
                </div>
                <!-- INFOS BOX -->
                <div class="about_infos_box viewport">
                    <i class="fa-solid fa-eye"></i>
                    <p>Nossa <span>visão</span> é ser uma empresa renomada na área de tecnologia e design</p>
                </div>
                <!-- INFOS BOX -->
                <div class="about_infos_box viewport">
                    <i class="fa-solid fa-heart"></i>
                    <p>Nossos <span>valores</span> são a qualidade, compromisso, inovação, satisfação e colaboração</p>
                </div>
            </div>
        </div>
    </section>
<!-- serviços -->
    <section class="container services" id="services"></section>
<!-- projetos -->
    <section class="container projects" id="projects"></section>
<!-- blog -->
    <section class="container blog" id="blog"></section>
<!-- contato -->
    <section class="container contact" id="contact"></section>
{% endblock %}