.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 500;
    width: 100%;
    height: 60vh;
    padding: 0 5vw;
    background: var(--cor-fixa-1);
    box-shadow: var(--box-shadow-1);
    color: var(--cor-fixa-2);
}

.footerAcc {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    width: 100%;
    height: 4vh;
    background: var(--cor-fixa-1);
    box-shadow: var(--box-shadow-1);
}

/* FOOTER SOCIAL */
.footer_social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -5vh;
    width: 60vw;
    height: 10vh;
    background: var(--cor-principal);
    border: 2px solid var(--cor-fixa-1);
    border-radius: 2em;
    box-shadow: var(--box-shadow-2);
}

.footer_social ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1.5vw;
    list-style: none;
}

.footer_social ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-fixa-1);
    height: 3vw;
    width: 3vw;
    border: 2px solid var(--cor-fixa-1);
    border-radius: 50%;
    text-decoration: none;
    transition: .3s;
}
.footer_social ul a:hover {
    transform: translateY(-0.2em);
    box-shadow: var(--box-shadow-2);
    background: var(--cor-principal-2);
}
/* FOOTER INFOS */
.footer_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--cor-principal);
    padding-bottom: 2em;
    width: 100%;
    height: 80%;
}

.footer_logo {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 70%;
}

.footer_logo img {
    width: 50%;
}
.footer_links {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 70%;
    border-left: 2px solid var(--cor-principal);
}
.footer_links_title {
    font-size: .8vw;
    margin-top: -2vh;
}

.footer_links ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .8em;
    margin-top: 1em;
    font-family: var(--fonte-2);
}

.footer_link {
    position: relative;
    text-decoration: none;
    color: var(--cor-principal-2);
    font-size: 1.2vw;
    transition: .3s;
    text-transform: lowercase;
}
.footer_link strong {
    margin-left: .5em;
}
.footer_link:hover {
    color: var(--cor-principal);
    transform: translateY(-0.2em);
}
/* FOOTER COPY */
.footer_copyright {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_copyright span {
    font-size: 1vw;
    color: var(--cor-fixa-2);    
    font-family: var(--fonte-3);
}

@media screen and (max-width:1024px) {
    .footer {
        height: 60vh;
        padding: 0 2vw;
    }

    .footerAcc {
        bottom: 2vh;
        height: 10vh;
    }
    
    /* FOOTER SOCIAL */
    .footer_social {
        width: 60vw;
        height: 10vh;
        border-radius: 4em;
    }
    
    .footer_social ul {
        font-size: 4vw;
    }
    
    .footer_social ul a {
        height: 7vw;
        width: 7vw;
    }
    /* FOOTER INFOS */
    .footer_infos {
        width: 100%;
        height: 70%;
    }
    
    .footer_logo {
        margin-top: 6vh;
        width: 50%;
        height: 35%;
    }
    
    .footer_logo img {
        width: 30%;
    }
    .footer_links {
        margin-top: 6vh;
        width: 50%;
        height: 35%;
    }
    .footer_links_title {
        font-size: 2vw;
        margin-top: 0;
    }
    
    .footer_links ul {
        gap: .8em;
        margin-top: 1em;
    }
    
    .footer_link {
        font-size: 2.5vw;
    }
    /* FOOTER COPY */
    .footer_copyright {
        height: 30%;
    }
    
    .footer_copyright span {
        font-size: 3vw;
        margin-top: -2em;
    }
}
@media screen and (max-width:600px) {
    .footer {
        height: 70vh;
    }
    .footerAcc {
        bottom: 6vh;
        height: 5vh;
    }
    /* FOOTER SOCIAL */
    .footer_social {
        height: 8vh;
    }
    
    .footer_link {
        font-size: 3vw;
    }
}