.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 5vw;
    padding: 0 5vw;
    background: var(--cor-fundo-1);
    box-shadow: var(--box-shadow-1);
    opacity: 0;

    animation: slideDown1 1s forwards, opacity 1s forwards;
}
.header_menu {
    display: none;
}
/* HEADER LOGO */
.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
}

.header_logo_svg {
    height: 4vw;
    transition: 0.5s;
    filter: drop-shadow(0px 0px 3px var(--cor-principal));
}
.header_logo:hover .header_logo_svg {
    transform: rotateY(180deg);
}

.header_logo_title {
    color: var(--cor-principal);
    font-size: 1.8vw;
    font-weight: 400;
    white-space: nowrap;
    position: absolute;
    left: 120%;
}
/* HEADER NAV MENU */
.options_list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    max-width: 60vw;
    gap: 4em;
}

.options_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--fonte-2);
    color: var(--cor-fonte-1);
    transition: 0.5s;
    font-size: 1.1vw;
    cursor:pointer;
}
.options_item:hover,
.options_item:active {
    color: var(--cor-principal);
}
/* DROPDOWN */
.dropdown_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    top: 8vh;
    background: var(--cor-fundo-1);
    gap: 0;
    border-top: 3px solid var(--cor-principal);
    visibility: hidden;
    transition: 1s;
    z-index: 900;
    border-radius: 0 0 1em 1em;
    box-shadow: var(--box-shadow-1);
    max-height: 0;
    overflow: hidden;
}
.options_item:hover .dropdown_list {
    visibility: visible;
    max-height: 50vh;
}

.dropdown_link {
    position: relative;
    display: flex;
    color: var(--cor-fonte-1);
    font-family: var(--fonte-2);
    font-weight: 700;
    text-decoration: none;
    padding: 1em 4vw 1em 3vw;
}
.dropdown_link:hover {
    transition: 0.3s;
    color: var(--cor-principal);
}

.dropdown_link i {
    position: absolute;
}
.dropdown_link strong {
    position: relative;
    margin-left: 2vw;
    text-wrap: nowrap;
}


/* CONTROLS */
.header_controls {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    gap: .5vw;
}

/* DARK MODE */
.dark_chk {
    display: none;
}

.icon-moon {
    position: absolute;
}
.icon-sun,
.icon-moon {
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    color: var(--cor-fonte-1);
    font-size: 1.5vw;
    transition: 0.5s;
}

.icon-sun.visible,
.icon-moon.visible {
    opacity: 1;
    z-index: 1000;
}

.dark-mode_icon:hover i{
    color: var(--cor-principal);
}
/* CONFIG */

.controls_icon {
    font-size: 1.5vw;
    cursor: pointer;
    transition: 0.5s;
}
.controls_icon:hover,
.controls_icon:active,
.check_config:checked + .config_label{
    color: var(--cor-principal);
    transform: rotate(360deg);
}

.controls_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    top: 7vh;
    background: var(--cor-fundo-1);
    border-top: 3px solid var(--cor-principal);
    transition: 1s;
    z-index: 900;
    border-radius: 0 0 1em 1em;
    box-shadow: var(--box-shadow-1);
    overflow: hidden;
    max-height: 85vh;
    width: 20vw;
    margin-left: -10vw;
    transform: translateX(30vw);
}

.check_config:checked ~ .controls_menu {
    transform: translateX(0);
}

.controls_menu a {
    position: relative;
    margin-left: 1vw;
    color: var(--cor-fonte-1);
    text-decoration: none;
    padding: 1vw;
}
.controls_menu a:hover {
    color: var(--cor-principal);
}

.controls_menu a i {
    position: absolute;
}

.controls_menu a strong {
    margin-left: 2vw;
}

@media screen and (max-width:1024px) {
    .header {
        bottom: 0;
        animation: slideUp1 1s forwards, opacity 1s forwards;
    }

    .header_options {
        display: none;
    }

    .header {
        height: 10vw;
        padding: 0 2vw;
    }

    .header_logo_svg {
        height: 6vw;
    }
    /* DARK MODE */
    .icon-sun,
    .icon-moon {
        font-size: 5vw;
    }

    .icon-sun.visible,
    .icon-moon.visible {
        opacity: 1;
        z-index: 1000;
    }

    .dark-mode_icon:hover i{
        transform: translateY(-0.2rem);
    }
    /* MENU HAMBURGUER */
    .header_menu {
        display: block;
        position: fixed;
        z-index: 1000;
        right: 1em;
        top: 1em;
    }
    .bar {
        position: relative;
        margin-top: 0.5vh;
        height: 0.6vh;
        width: 8vw;
        background: var(--cor-fonte-1);
        border-radius: 1em;
        transition: 0.5s;
    }

    .check-icon:checked + .icon-menu > .bar-1 {
        transform: translateY(1.5vh) rotate(45deg);
        background: var(--cor-principal);
    }
    .check-icon:checked + .icon-menu > .bar-2 {
        transform: translateX(-100vw);
        opacity: 0;
    }
    .check-icon:checked + .icon-menu > .bar-3 {
        transform: translateY(-.7vh) rotate(-45deg);
        background: var(--cor-principal);
    } 
    /* MENU OPÇÔES */
    .menu_options {
        position: absolute;
        top: -1em;
        margin: 0 0 0 -91vw;
        height: 100vh;
        width: 40vw;
        background: var(--cor-fundo-1);
        box-shadow: var(--box-shadow-1);
        transition: 1s;
        transform: translateX(-100%);
    }
    .check-icon:checked ~ .menu_options {
        transform: translateX(0);
    }
    .options_list {
        display: flex;
        flex-direction: column;
        max-width: max-content;
        gap: 0;
    }
    .option_link {
        display: flex;
        justify-content: start;
        position: relative;
        margin: 1.5em 0 0 1em;
        font-size: 3vw;
        width: 100%;
    }
    .option_title {
        position:absolute ;
        top: 0;
        visibility: visible;
        opacity: 1;
        flex-wrap: nowrap;
        white-space: nowrap;
        margin-left: 2em;
    }
    .option_link:hover .option_title,
    .option_link:hover .option_icon {
        transform: translateY(0);
    }
}

@media screen and (max-width:600px) {
    .header {
        height: 15vw;
        padding: 0 1vw;
    }

    .header_logo_svg {
        height: 10vw;
    }
    /* DARK MODE */
    .icon-sun,
    .icon-moon {
        font-size: 9vw;
    }
    /* MENU OPÇÔES */
    .menu_options {
        width: 80vw;
    }
    .option_link {
        margin: 2em 0 0 2em;
        font-size: 5vw;
        width: 100%;
    }
    .check-icon:checked + .icon-menu > .bar-3 {
        transform: translateY(-.6vh) rotate(-45deg);
        background: var(--cor-principal);
    } 
}