.galaxy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../assets/img/universeBackground.png') center center / cover no-repeat;
}

.thanks_box {
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-2);
    border-radius: 2em;
    border: 1px solid var(--cor-principal);
    backdrop-filter: blur(4px);
    height: 0;
    width: 0;
    z-index: 1;
}

.thanks_box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-fundo-3);
    backdrop-filter: blur(10px);
    opacity: 0.9;
    z-index: 1;
}

.thanks_box {
    animation: openForm 1s 0.5s forwards;
}

.thanks_box_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.thanks_box_content i {
    font-size: 3vw;
    padding: 1vw;
    border: 2px solid var(--cor-principal);
    color: var(--cor-principal);
    background: transparent;
    border-radius: 50%;
    margin-top: .5em;
    box-shadow: var(--box-shadow-1);
}

.thanks_box_content h1 {
    font-size: 5vw;
    color: var(--cor-principal);
    margin-top: 1vh;
    font-weight: bolder;
}
.thanks_box_content p {
    font-size: 2.2vw;
    font-family: var(--fonte-2);
    text-wrap: nowrap;
    margin-top: 1vh;
    color: var(--cor-fonte-1);
}
.thanks_box_content a {
    position: relative;
    text-decoration: none;
    font-size: 1.2vw;
    text-wrap: nowrap;
    margin-top: 2vh;
    box-shadow: var(--box-shadow-1);
    z-index: 10 !important;
}

.thanks_box_content a:nth-of-type(1) {
    color: var(--cor-principal);
    padding: 0.5vh 1vw;
    border: 2px solid var(--cor-principal);
    border-radius: 1em;
    margin-top: 5vh;
}
.thanks_box_content a:nth-of-type(2) {
    background: var(--cor-principal);
    color: var(--cor-fundo-1);
    padding: 0.5vh 1vw;
    border: 2px solid var(--cor-principal);
    border-radius: 1em;
}

.thanks_box_content a:nth-of-type(1):hover {
    background: var(--cor-principal-2);
    color: var(--cor-fundo-1);
}
.thanks_box_content a:nth-of-type(2):hover {
    background: var(--cor-principal-2);
    color: var(--cor-fundo-1);
}

.svg_star_thanks {
    position: absolute;
    z-index: 0 !important;
    animation: blinkStar 2s  linear infinite;
}

.moon {
    position: absolute;
    opacity: 1;
    width: 15vw;                                                                                                        
    right: 10vw;
    bottom: -10vh;
    animation: rotate 50s linear infinite;
}
.planetblue {
    position: absolute;
    opacity: 1;
    width: 25vw;
    left: 2vw;
    top: 5vh;
    animation: rotate 80s linear infinite;
}
.planetred {
    position: absolute;
    opacity: 1;
    width: 48vw;
    right: -20vw;
    top: -50vh;
    animation: rotate 150s linear infinite;
}

@media screen and (max-width:1024px) {
    .thanks_box {
        border-radius: 1em;
    }
    
    .thanks_box {
        animation: openForm2 1s 0.5s forwards;
    }
    .thanks_box_content i {
        font-size: 6vw;
        padding: .5em;
        margin-top: 1em;
    }
    
    .thanks_box_content h1 {
        font-size: 10vw;
    }
    .thanks_box_content p {
        font-size: 4vw;
    }
    .thanks_box_content a {
        font-size: 3vw;
        text-wrap: nowrap;
    }
    
    .thanks_box_content a:nth-of-type(1) {
        padding: .5em 1em;
        border-radius: .7em;
    }
    .thanks_box_content a:nth-of-type(2) {
        padding: .5em 1em;
        border-radius: .7em;
    }
    
    .svg_star_thanks {
        transform: rotate(-90deg);
        scale: 2;
    }
    
    .moon {
        width: 20vw;                                                                                                  
        right: 20vw;
        bottom: -5vh;
    }
    .planetblue {
        width: 30vw;
        left: 2vw;
        top: 3vh;
    }
    .planetred {
        width: 65vw;
        right: -30vw;
        top: -20vh;
        animation: rotate 150s linear infinite;
    }
}